*{
    --mainColor: rgb(43, 143, 236) ;
    --mdc: rgba(43, 143, 236, 0.336);
    --secondaryColor: rgba(233, 185, 27, 0.829);
    --fsm: 1.4rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.dashboard{
    grid-row: 1 / 5;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 15px;
}

.dashboard div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: white;
    padding: 8px;
}

a:hover{
    background-color: var(--mdc);
}

h1{
    font-size: 1.8rem;
    color: white;
    margin-bottom: 0pxs;
}

.header{
    grid-row: 2/3;
    background-color: white;
}

.top{
    grid-row: 1/2;
}

.projects{
    grid-column: 2 / 3;
    grid-row: 3/5 ;
}

.announcements{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.trending{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

input{
    background-color: lightgray;
}

button{
    font-size: var(--fsm);
    padding: 0.3rem 0.6rem;
    background: var(--mainColor);
    border-style: none;
    border-radius: 20px;
}

.button:hover{
    background-color: var(--mdc);
}